{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}
    {% block shopware_get_product_by_id_demo %}
        <div class="container">
            <h1>Demo</h1>
            <!-- Replace '2a88d9b59d474c7e869d8071649be43c' with your product id -->
            <p>{{ getProductByID('2a88d9b59d474c7e869d8071649be43c', context).name|raw }}</p>
        </div>
    {% endblock %}

    {{ parent() }}
{% endblock %}
